p {
    text-align: center;
    font-size: 40px;
    margin: 12px 0px;
}

img {
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 10px;
}

.media_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

button {
    background: white;
    border: 1px solid black;
    padding: 6px 10px;
}